<head>
    <title>SMS logging - Login page</title>
    <link href="Styles/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form name="form1" method="post" action="LoginPage.aspx?ReturnUrl=%2fsmslogging%2flogging.aspx" id="form1">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTA0MjAwMDcyOQ9kFgICAQ9kFgICAw8PFgIeBFRleHRlZGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFDGN4UmVtZW1iZXJNZYwRT0vgP41X3dJiQo/6f/b00Zzj" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="DC2FE42D" />
<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBQKNvIOqDwLyj/OQAgK3jsrkBALW+OiuAQKC3IeGDGYT0ItN7xjkAEfEAPK+s1roKMVl" />
    <div>
        <table width="100%" style="margin-top:20px">
            <tr>
                <td> &nbsp; </td>
                <td style="width: 300px">
                    <div id="LoginControl" style="width:150px">
                        <table width="150px">
                            <tr>
                                <td> <img src="Images/logo_long.png" alt="CM - Corporate Mobile Messaging" /> </td>
                            </tr>
                            <tr>
                                <td align="center"> <h1 class="LoginAppName">SMS Logging</h1> </td>
                            </tr>
                            <tr>
                                <td> <span id="Label1">Username</span> </td>
                            </tr>
                            <tr>
                                <td> <input name="tbUserName" type="text" id="tbUserName" /> </td>
                            </tr>
                            <tr>
                                <td> <span id="lbPassword">Password</span> </td>
                            </tr>
                            <tr>
                                <td> <input name="tbPassword" type="password" id="tbPassword" /> </td>
                            </tr>
                            <tr>
                                <td> <span style="display:inline-block;"><input id="cxRememberMe" type="checkbox" name="cxRememberMe" /><label for="cxRememberMe">Remember me</label></span> </td>
                            </tr>
                            <tr>
                                <td> <input type="submit" name="btnLogin" value="Login" id="btnLogin" /> </td>
                            </tr>
                        </table>
                    </div>
                    <span id="lbError" class="LabelError"></span>
                </td>
                <td> &nbsp; </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>